<!DOCTYPE html>
<html>
  <head>
    <title>LoZAPI</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>LoZAPI</h1>
      <p>The Legend of Zelda API</p>
    </header>
  
    <div class="left">
      <h2>
        Try it out!
      </h2>
      <form>
        <label for="req">https://lozapi.glitch.me/</label><input name="req" type="text" maxlength="100" placeholder="games/">
        <button type="submit">GET</button>
      </form>
      <h3>
        Currently supported
      </h3>
      <ul>
        <li>games/</li>
        <li>games?page=2</li>
        <li>games/1/</li>
      </ul>
      <p>All data has been collected from open sources such as <a href="http://zelda.gamepedia.com/" target="_blank">Zelda Wiki</a>.</p>
      <div class="glitch-button">
        <span class="glitch-remix"></span>
      </div>
    </div>
    
    <div class="right">
      <h2>
        Result
      </h2>
      <section>
        <div id="result">
        </div>
      </section>
    </div>

    <!--footer>
      <a href="https://glitch.com">
        Remix this in Glitch
      </a>
    </footer-->

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>
    <script src="https://remix.glitch.me/remix.min.js"></script>

  </body>
</html>
